html {
    font-size: 1em;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    --mdc-theme-primary: #458AC3;
    --mdc-theme-on-primary: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    /*transition: background-color 0.5s;*/
    overflow-x: hidden;
    color: white;
}